In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
from sqlalchemy import create_engine
%matplotlib inline

**Pandas** is python-based library that simplify array (list,set,etc.) processing in python, using dataframe format 

**psycopg2** is a PostgreSQL database adapter

**Sqlalchemy** is a toolkit and Object Relational Mapper that gives full power and flexibility of SQL

**Matplotlib** is a library used for visualization

###  1. Make connection

In [2]:
#connect postgres offline
#postgre string connection 
#replace *** with password
postgres_connection =  ('postgresql://postgres:***@localhost:5432/postgres')

In [3]:
#make connection with query string in postgres_connection variable, put into cnx variable for reusability
cnx = create_engine(postgres_connection)
df = pd.read_sql_query("""select * from customer""",cnx)
df.head()

   customer_id         country
0        12346  United Kingdom
1        12347         Iceland
2        12348         Finland
3        12349           Italy
4        12350          Norway

### RFM

RFM (Recency, Frequency, Monetary) is a customer segmentation technique by analyzing customer behaviour in their purchases. 
According to www.statisticshowto.datasciencecentral.com, recency means 

Recency answers the question about ***how recently customer has purchased?*** Calculated by counting certain purchase date with last purchase date. 

Frequency answers the question about ***how often your customer purchase?*** Calcuated by counting number of transaction (invoice number in this case)

Monetary means ***basket size of customer*** Calculated by number of money a customer spend

In [11]:
#Count average recency of each customer

df_recency = pd.read_sql_query("""
with customer_trx as (select customer_id, date(invoice_date) invoice_date, 
count(distinct(invoice_no)) total_order, 
count(distinct(date(invoice_date))) total_date
from transaction
where customer_id is not null
group by 1,2
order by 1,2)


, customer_day_diff as (select customer_id, invoice_date, total_order, total_date, date(invoice_date) - date(lag(invoice_date,1) over (partition by customer_id
order by invoice_date)) as day_diff
from customer_trx)

select customer_id, sum(total_order) total_order, sum(total_date) total_day,
avg(day_diff) avg_recency
from customer_day_diff
where day_diff is not null
group by 1
order by 1
""", cnx)

df_recency.head()

   customer_id  total_order  total_day  avg_recency
0        12347          6.0        6.0    60.833333
1        12348          3.0        3.0    94.333333
2        12352         10.0        6.0    43.333333
3        12356          2.0        2.0   151.500000
4        12358          1.0        1.0   149.000000

In [16]:
df_recency = pd.read_sql_query("""

with customer_trx as (select customer_id, date(invoice_date) invoice_date, 
count(distinct(invoice_no)) total_order, 
count(distinct(date(invoice_date))) total_date
from transaction
where customer_id is not null
group by 1,2
order by 1,2)


, customer_day_diff as (select customer_id, invoice_date, total_order, total_date, date(invoice_date) - date(lag(invoice_date,1) over (partition by customer_id
order by invoice_date)) as day_diff
from customer_trx)


,cust_rec as (select customer_id, avg(day_diff) avg_recency
from customer_day_diff
where day_diff is not null
group by 1
order by 1)


select *,
    case when avg_recency > (select percentile_cont(0.5) within group(order by avg_recency) from cust_rec) then 'high' else 'low'
    end as Rec_grade
    from cust_rec

""",cnx)

df_recency.head()

   customer_id  avg_recency rec_grade
0        12347    60.833333      high
1        12348    94.333333      high
2        12352    43.333333       low
3        12356   151.500000      high
4        12358   149.000000      high

***Count each customer frequency and define the grade.***

***If customer's frequency greater than or same with customer frequency median then 'High'***

***else if customer's frequency lower than median, then 'Low' ***

In [17]:
df_freq = pd.read_sql_query("""
with all_freq as (select customer_id, count(invoice_no) as cust_freq  from transaction where customer_id is not null group by customer_id)

,f_med as (select percentile_cont(0.5) within group(order by cust_freq asc) from all_freq)

select *, 
    case when cust_freq > (select percentile_cont(0.5) within group(order by cust_freq asc) from all_freq) then 'high' else 'low'
    end as freq_grade
    from all_freq

""",cnx)

df_freq

      customer_id  cust_freq freq_grade
0           16592        222       high
1           14173         29        low
2           13527        224       high
3           12502        147       high
4           14067         52       high
5           17197         29        low
6           12602         12        low
7           13093        170       high
8           13520         95       high
9           14765         39        low
10          14852        143       high
11          18181         44       high
12          14466         72       high
13          15820         17        low
14          17695         35        low
15          15687        168       high
16          15447          9        low
17          17573         26        low
18          12621        474       high
19          13168        133       high
20          18041        474       high
21          17886        109       high
22          15494        125       high
23          16326        320       high
24          14636         28        low
25          15805        307       high
26          13894         30        low
27          15904         30        low
28          12610        111       high
29          14108         35        low
...           ...        ...        ...
4342        16561         31        low
4343        15826         69       high
4344        17850        312       high
4345        15806         31        low
4346        14567         34        low
4347        14428        148       high
4348        17298         30        low
4349        17786         72       high
4350        17696        126       high
4351        15128        111       high
4352        17358         59       high
4353        17307          1        low
4354        16690         13        low
4355        17578          6        low
4356        14431         22        low
4357        13791         17        low
4358        16505          4        low
4359        16536         56       high
4360        18255          6        low
4361        14886         18        low
4362        17122          7        low
4363        13655         56       high
4364        12967         33        low
4365        17349          9        low
4366        13370         44       high
4367        17676         79       high
4368        13522          5        low
4369        14918         45       high
4370        17892         28        low
4371        17384         15        low

[4372 rows x 3 columns]

***Count each customer monetary(basket size) and define the grade.
If customer's monetary greater than or same with customer monetary median then 'High'
else if customer's monetary lower than median, then 'Low'  ***

In [18]:
df_mon = pd.read_sql_query("""
with all_mon as (select customer_id, sum(quantity * unit_price) as cust_mon from transaction where customer_id is not null group by customer_id)

select *, 
    case when cust_mon > (select percentile_cont(0.5) within group(order by cust_mon) from all_mon) then 'high' else 'low'
    end as mon_grade
    from all_mon
""",cnx)

df_mon.head()

   customer_id  cust_mon mon_grade
0        16592   4073.28      high
1        14173    450.84       low
2        13527   2263.76      high
3        12502   3723.87      high
4        14067    374.70       low

**Compact into one script, define each customer's RFM**

In [20]:
df_all = pd.read_sql_query("""
    with customer_trx as (select customer_id, date(invoice_date) invoice_date, 
    count(distinct(invoice_no)) total_order, 
    count(distinct(date(invoice_date))) total_date
    from transaction
    where customer_id is not null
    group by 1,2
    order by 1,2)

    
    , customer_day_diff as (select customer_id, invoice_date, total_order, total_date, date(invoice_date) - date(lag(invoice_date,1) over (partition by customer_id
order by invoice_date)) as day_diff
from customer_trx)


,cust_rec as (select customer_id, avg(day_diff) avg_recency
from customer_day_diff
where day_diff is not null
group by 1
order by 1)
    
    ,all_freq as (select customer_id, count(invoice_no) as cust_freq  from transaction where customer_id is not null group by customer_id)
    
    ,all_mon as (select customer_id, sum(quantity * unit_price) as cust_mon from transaction where customer_id is not null group by customer_id)


    select a.*,d.country,
        case when a.avg_recency > (select percentile_cont(0.5) within group(order by avg_recency) from cust_rec) then 'high' else 'low'
            end as Rec_grade,
        case when b.cust_freq > (select percentile_cont(0.5) within group(order by cust_freq asc) from all_freq) then 'high' else 'low'
            end as freq_grade,
        case when c.cust_mon > (select percentile_cont(0.5) within group(order by cust_mon) from all_mon) then 'high' else 'low'
            end as mon_grade
    from cust_rec a left join all_freq b on a.customer_id = b.customer_id left join all_mon c on a.customer_id = c.customer_id left join customer d on a.customer_id = d.customer_id

""", cnx)

df_all.head()

   customer_id  avg_recency   country rec_grade freq_grade mon_grade
0        12347    60.833333   Iceland      high       high      high
1        12348    94.333333   Finland      high        low      high
2        12352    43.333333    Norway       low       high      high
3        12356   151.500000  Portugal      high       high      high
4        12358   149.000000   Austria      high        low      high

**Let's find country with the lowest recency and biggest monetary**

In [30]:
#Compact into one script
#Define each customer's RFM

df_max_basket = pd.read_sql_query("""
    with customer_trx as (select customer_id, date(invoice_date) invoice_date, 
    count(distinct(invoice_no)) total_order, 
    count(distinct(date(invoice_date))) total_date
    from transaction
    where customer_id is not null
    group by 1,2
    order by 1,2)

    
    , customer_day_diff as (select customer_id, invoice_date, total_order, total_date, date(invoice_date) - date(lag(invoice_date,1) over (partition by customer_id
order by invoice_date)) as day_diff
from customer_trx)


,cust_rec as (select customer_id, avg(day_diff) avg_recency
from customer_day_diff
where day_diff is not null
group by 1
order by 1)
    
,all_freq as (select customer_id, count(invoice_no) as cust_freq  from transaction where customer_id is not null group by customer_id)
    
,all_mon as (select customer_id, sum(quantity * unit_price) as cust_mon from transaction where customer_id is not null group by customer_id)


, rfm as(select a.*,d.country,
        case when a.avg_recency > (select percentile_cont(0.5) within group(order by avg_recency) from cust_rec) then 'high' else 'low'
            end as Rec_grade,
        case when b.cust_freq > (select percentile_cont(0.5) within group(order by cust_freq asc) from all_freq) then 'high' else 'low'
            end as freq_grade,
        case when c.cust_mon > (select percentile_cont(0.5) within group(order by cust_mon) from all_mon) then 'high' else 'low'
            end as mon_grade
    from cust_rec a left join all_freq b on a.customer_id = b.customer_id left join all_mon c on a.customer_id = c.customer_id left join customer d on a.customer_id = d.customer_id
)

SELECT country, count(*) as number_RF FROM rfm where Rec_grade = 'low' and mon_grade = 'high' group by country order by count(*) desc limit 1
""", cnx)

df_max_basket

          country  number_rf
0  United Kingdom        966